.foteer {
    width: 100%;
    background-color: #141414;
}
.foteer_conrteiner {
    width: 100%;
    padding-top: 50px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
}
.main_item {
    display: flex;
    gap: 150px;
}
.main_items {
    color: white;
    width: 10%;
}
.foteer_main_title {
    cursor: pointer;
}
.second_item {
    display: none;
    transition: all 0.3s ease;
}
.main_items.active .second_item {
    display: block;
}
.seconds_items > a {
    color: grey;
    line-height: 38px;
}
.i {
    max-width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}
.i > img{
display: none;
}
@media screen and (max-width:480px) {
    .foteer_conrteiner {
        display: block;
    }
    .main_item {
        display: block;
    }
    .main_items {
        width: 100%;
    }
    .seconds_items {
        background-color: #1D1D1D;
        width: 100%;
    }
    .i > img {
        display: block;
    }
    .a{
        max-width: 479px;
    }
}