.haso {
    max-width: 1208px;
    margin: 150px auto;

}
.conteiner {
}
.haso_item {
}
.haso_items {
 
    color: black;
}
.haso_items:nth-child(1){
    padding-top: 140px;
    color: black;
}
.haso_items:nth-child(3) {
    color: grey;
    padding-bottom: 140px;
} 
@media screen and (max-width:480px) {
    .haso {
        max-width: 400px;
        margin: 700px 0px 0px 0px;
    
    }
    .haso_item{
        margin-left: 45px;
    }
}