.hero {
  width: 100%;
height: 750px;
top: 243px;
left: 15px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
background-image: url(/бг.svg);
background-repeat: no-repeat;
background-size: cover;
background-size: cover;

}
.conteiner {
}
.hero_wrapper {
  margin: 0 auto;
width: 95%;
text-align: center;
}
.hero_titile {
font-size: 89px;
color: #fff;
padding-top: 170px;
width: 754px;
margin: 0 auto;
}
.hero_info {
  font-size: 24px;
  color: #fff;
  padding-bottom: 100px;
}
.hr {
  width: 90%;
  color: grey;
  margin: 0 auto;
  
}
.hero_menu {
  display: flex;
  gap: 25px;
  padding-top: 80px;
  margin: 0 auto;
  width: 85%;
  padding-left: 120px;
}
.hero_item {
  display: flex;
  gap: 10px;
}
.num {
  width: 26px;
height: 26px;
background-color: #fff;
align-items: center;
text-align: center;
border-radius: 15px;
}
.text {
  color: white;
}
@media screen and (max-width:480px) {
  .hero_titile{
    max-width: 455px;
    font-size: 20px;
  }
  
}